<%- include("header")  -%> 

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Gestor de Tareas Empresariales</h1>
            <p class="lead">Ayuda de escritorio para gestionar las tareas de cada proceso</p>
            <hr class="my-4">
            <p>Desarrollado por:</p>
            <ul>
                <li>Frank Marin</li>
                <li>David Cadavid</li>
                <li>Carlos Uribe</li>
            </ul>
            <a class="btn btn-primary btn-lg" href="#" role="button">Ver m&aacute;s</a>
          </div>
    </div>

<%- include("footer")  -%> 