<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</header>

<br/>


<div class="container">
    <div class="row">

 <!-- FORMULARIO PARA INGRESAR ACTIVIDADES -->

        <div class="col-md-6">
            <div class="card">
                <h1>Iniciar Sesión</h1>
                <div class="card-body">
                    <form action="/agregarUser" method="POST">

                        
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" class="form-control" id="User" name="user">
                              
                          </div>

                        <div class="form-group">
                            <label >Clave</label>
                            <input type="password" class="form-control mb-3" id="password" name="password"   >
                        </div>
                        <button type="submit" class="btn btn-dark btn-block"> Iniciar</button>
                    </form>
                </div>
            </div>
        </div>




<br/>



<%- include("footer")  -%> 